<h2>Edit Component File</h2>

<p>No liquid support currently for editing components.</p>

<% form_tag({:controller => 'cms/components', :action => 'update', :url => CGI::escape(@component.path)}, :class => 'simple_form') do %>
  <div class="string required">
    <%= label_tag :name, nil, :class => 'string required' %> <%= text_field_tag :name, @component.path, :readonly => true, :class => 'string required' %>
  </div>
  <div class="text required">
    <%= label_tag :contents, nil, :class => 'text required' %> <%= text_area_tag :contents, @component.read, :rows => 40, :class => 'text required' %>
  </div>

  <div class="buttons">
    <%= submit_tag 'Update', :class => 'update' %> or <%= link_to 'Cancel', :back, :class => 'cancel' %>
  </div>
<% end %>

<%= codemirror_edit Cms::Editable::content_type(@component.path), 'form.simple_form', 'contents' %>
