<%= content_tag_for :li, asset, :class => cms_row_class do %>
  <%= file_type_icon asset.asset_file_name %>
  <%= link_to cms_icon('delete.png', :title => 'Delete'), cms_asset_path(asset), :method => :delete, :confirm => "Are you sure you want to delete the \"#{asset}\" asset?" %>
  <%= link_to truncate(asset.asset_file_name, :length => 22), edit_cms_asset_path(asset), :title => asset.asset_file_name %>

  <span class="asset_size"><%= number_to_human_size asset.asset_file_size %></span>

  <% if asset.image? %>
  <div class="asset_details clearfix"<%= asset_preview_option %>>
    <div class="asset_image"><%= image_tag asset.asset.url(asset.icon? ? :original : :tiny) %></div>
  </div>
  <% end %>
<% end %>
