<div id="assets">
  <% if @assets.empty? %>
    <p><%= t 'assets.actions.index.none' %></p>
  <% else %>
    <p class="preview"><%= link_to_function 'Toggle image previews', "asset_preview_toggle()" %></p>
    <ul>
      <%= render :partial => 'cms/assets/asset', :collection => @assets %>
    </ul>
  <% end %>

  <p>
    <%= cms_icon 'picture_add.png' %> <%= link_to t('assets.actions.index.new_link'), new_cms_asset_path %>
  </p>
</div>
