<div id="pages">
  <p><%= cms_icon 'page_add.png' %> <%= link_to t('pages.actions.index.new'), new_cms_page_path %></p>

  <% if @cms_pages.empty? %>
    <p><%= t 'pages.actions.index.none' %></p>
  <% else %>
    <p><%= cms_icon 'page_find.png' %> <%= link_to t('pages.actions.index.search'), search_cms_pages_path %></p>

    <ul class="tree">
      <%= render :partial => 'cms/pages/page', :collection => @cms_pages %>
    </ul>
  <% end %>
</div>
