<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
  <title><%= t 'pages.layout.title' %></title>
  <%= javascript_include_tag 'prototype', 'effects', 'rails' %>
  <%= javascript_include_tag '/cms/javascripts/humanmsg', '/cms/javascripts/cookiejar', '/cms/javascripts/remote_helpers', '/cms/javascripts/cms', '/cms/javascripts/livepipe', '/cms/javascripts/tabs', :cache => 'cms_scripts' %>
  <%= javascript_include_tag '/cms/codemirror/js/codemirror' %>
  <%= stylesheet_link_tag '/cms/stylesheets/simple_form' %>
  <%= stylesheet_link_tag '/cms/stylesheets/clearfix', '/cms/stylesheets/humanmsg', '/cms/stylesheets/styles', '/cms/stylesheets/sidebar', :cache => 'cms_styles' %>
  <%= stylesheet_link_tag '/cms/stylesheets/themes/dark' %>
  <%= yield :cms_styles %>
  <!--[if lte IE 8]>
  <%= stylesheet_link_tag '/cms/stylesheets/ie' %>
  <![endif]-->
  <!--[if lte IE 9]>
  <%= stylesheet_link_tag '/cms/stylesheets/ie9' %>
  <![endif]-->
  <%= csrf_meta_tag %>
</head>
<body id="cms" class="cms_<%= params[:controller].camelize.demodulize.downcase %> cms_action_<%= params[:action].camelize.demodulize.downcase %>">
  <div id="header">
    <h1><%= link_to t('pages.layout.title'), cms_root_path %></h1>
  </div>

  <div id="outer-container" class="clearfix">
    <div id="sidebar" class="shadow curved">
      <%= render 'cms/shared/sidebar' %>
    </div> 

    <div id="content">
      <%= yield %>
      <%= cms_flash_message %>
    </div>
  </div>
</body>
</html>
